<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDK Demo 首页</title>
    <script src="commons/js/vue2.js"></script>
    <script src="commons/js/vue-resource.js"></script>
    <script src="http://sdk.yunhetong.com/sdk/api/yhtapi.js" type="text/javascript" charset="utf-8"></script>
    <!--<script src="http://sdk.yunhetong.com/sdk/api/m/yht.js" type="text/javascript" charset="utf-8"></script>-->
    <style>
        div {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<div id="container">
    啦啦啦 这里是SDK Demo
    <br/><br/>
    功能描述
    <div>
        {{ opt_description}}
    </div>
    服务端返回
    <div>
        {{ preResponse }}
    </div>
    <br/>
    生成的合同 id 是
    <div>{{ contractId }}</div>
    <br/>
    token 是
    <div> {{ token }}</div>
    解密后的消息 是
    <div> {{ notice }}</div>
    <br/>


    要操作用户 Token <input v-model="opt_token" type="text" placeholder="请输入用户Token">
    要操作的合同的id <input v-model="opt_contractId" type="text" placeholder="请输入合同id">
    BackURL <input v-model="opt_backURL" type="text" placeholder="请输入BackURL">
    回调参数 <input v-model="opt_backPara" type="text" placeholder="请输入回调参数">
    <br/>
    <button @click="getToken('A')">获取用户 A 的 Token</button>
    <button @click="getToken('B')">获取用户 B 的 Token</button>
    <button @click="createContract()">创建合同</button>
    <button @click="tokenContract()">获取 Token 并创建合同</button>
    <button @click="updateUserInfo()">修改用户信息</button>
    <button @click="queryContract()">合同查询</button>
    <button @click="voidContract()">作废合同</button>
    <button @click="downloadContract()">合同下载</button>
    <button @click="messageReceive()">消息回调</button>

    <br/>
    <button @click="toSignManager">去签名管理页面</button>
    <button @click="toContractManager">去合同管理页面</button>

</div>

</body>
<script type="text/javascript">

    new Vue({
        el: "#container",
        data: {
            helloWorld: "HelloWorld",
            token: "未设置",
            contractId: "还未创建合同",
            notice: "",
            preResponse: "",
            opt_contractId: "",
            opt_token: "",
            opt_backURL: "",
            opt_backPara: ""
        },
        computed: {
            opt_description: function () {
                return "这里是功能说明";
            }
        },
        methods: {
            getToken: function (user) {
                var vm = this;
                vm.$http.get('/sdkDemo/token', {params: {user: user}}).then(function (response) {
                    vm.preResponse = response.body;
                    var body = JSON.parse(response.body);
                    vm.token = body.value.token;
                });
            },
            createContract: function () {
                var vm = this;
                vm.$http.get('/sdkDemo/create_contract').then(function (response) {
                    vm.preResponse = response.body;
                    var body = JSON.parse(response.body);
                    console.log(body);
                    vm.contractId = body.value.contractId;
                });
            },
            tokenContract: function () {
                var vm = this;
                vm.$http.get('/sdkDemo/token_contract').then(function (response) {
                    vm.preResponse = response.body;
                    var body = JSON.parse(response.body);
                    console.log(body);
                    vm.contractId = body.value.contractId;
                    vm.token = body.value.token;
                });
            },
            updateUserInfo: function () {
                var vm = this;
                vm.$http.get('/sdkDemo/updateUserInfo').then(function (response) {
                    vm.preResponse = response.body;
                });
            },
            queryContract: function () {
                var vm = this;
                vm.$http.get('/sdkDemo/query_contracts').then(function (response) {
                    vm.preResponse = response.body;
                });
            },
            voidContract: function () {
                var vm = this;
                if (!vm.opt_contractId) {
                    alert("请输入要操作的合同id");
                    return;
                }
                vm.$http.get('/sdkDemo/invalid_contract', {params: {contractId: vm.opt_contractId}}).then(function (response) {
                    vm.preResponse = response.body;
                });
            },
            downloadContract: function () {
                var vm = this;
                if (!vm.opt_contractId) {
                    alert("请输入要操作的合同id");
                    return;
                }
                vm.$http.get('/sdkDemo/download_contract', {params: {contractId: vm.opt_contractId}}).then(function (response) {
                    vm.preResponse = response.body;
                });
            },
            messageReceive: function () {
                var vm = this;
                vm.$http.post('/sdkDemo/last_message').then(function (response) {
                    vm.preResponse = response.body;
                    var body = JSON.parse(response.body);
                    // 这个给 Demo 的后台发消息，假装是云合同后台发的

                    vm.$http.post('/sdkDemo/message_receive', {
                        notice: body.value.notice
                    }, {emulateJSON: true}).then(function (response) {
                        vm.notice = response.body;
                    });
                });


            },
            tokenUnableListener: function (obj) { //当token不合法时，SDK会回调此方法
                var vm = this;
                vm.$http.post('/sdkDemo/token').then(function (response) {
                    var body = JSON.parse(response.body);
                    YHT.setToken(body.value.token);//重新设置token
                    YHT.do(obj);//调用此方法，会继续执行上次未完成的操作
                }, function () {
                    alert(data.code + " || " + data.msg);
                })
            },
            toSignManager: function () {
                var vm = this;
                YHT.init("2016121514373700002", vm.tokenUnableListener);//必须初始化YHT
                YHT.querySign(function successFun(url) {
                    window.open(url);
                }, function failFun(data) {
                    alert(data.code + " || " + data.msg);
                }, /*这个是回调的前端回调的url*/vm.opt_backURL, /*JSON.stringify()之后的回调参数*/vm.opt_backPara);
            },
            toContractManager: function () {
                var vm = this;
                if (!vm.opt_contractId) {
                    alert("请输入合同 Id")
                }
                YHT.init("2016121514373700002", vm.tokenUnableListener);//必须初始化YHT
                YHT.queryContract(function successFun(url) {
                    window.open(url);
                }, function failFun(data) {
                    alert(data.code + " || " + data.msg);
                }, /*要操作的合同Id*/ vm.opt_contractId, /*这个是回调的前端回调的url*/vm.opt_backURL, /*JSON.stringify()之后的回调参数*/vm.opt_backPara);
            }


        }
    });

</script>
</html>